body{
    width:100vw;
    height:100vh;
    margin:0;
}
#debug-layer{
    /*border: 1px solid red;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

svg{
    border: 1px solid red;
}