body{
    width:100vw;
    height:100vh;
    margin:0;
}
#debug-layer{
    /*border: 1px solid red;*/
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

svg{
    border: 1px solid red;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

#environment-trains{
    position:fixed;
    top: 100px;
    left: 100px;

}


#environment-cubes{
    position:fixed;
    top: 100px;
    left: 700px;

}