#scene,
.scene {
    border: 2px solid black;
}

#scene-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.foreground {
    position: absolute;
    z-index: 20;
}

svg {
    background-color: rgba(200, 200, 200, 0.5);
    box-shadow: black 0 0 10px;
}

svg g{
    cursor: pointer;
    user-select: none;
}

.log-title {
    background-color: bisque;
}

.log-multitouch {
    border: 2px solid black;
}

.log-touch {
    border: 2px solid black;
}
